body {
    background-image: url("../img/Captura\ de\ pantalla\ \(2\).png");

}

form {
    position: absolute;
    top: 19%;
    right: 0;
    width: 250px;
    height: 215px;
    background-color: white;
    border-radius: 4px;
}

button {
    background-color: #350ff5;
    border: 0;
    color: white;
    padding: 8px 25px;
    border-radius: 4px;
}  

.item {
    padding: 8px;
}

#input {
    height: 23px;
    width: 200px;
    margin-top: 10px;
}
.contForm{
    margin: 20px auto;
}
.flexs {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.list{
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}